<h2>Welcome to Rate my Book</h2>
<p style="display: inline-block">Please either:</p>
<a href="/sessions/new" class="btn btn-primary">Sign in</a>
<p style="display: inline-block">or:</p>
<a href="/users/new" class="btn btn-primary">Sign up</a>