<div class="cardbox">
  <h2>Welcome to Rate my Book</h2>
  <h5>The place to rate your books</h5>
  <a href="/sessions/new" class="btn btn-primary">Sign in</a>
  <a href="/users/new" class="btn btn-primary">Sign up</a>
</div>